.app {
  text-align: center;
}

.app-intro {
  font-size: large;
}

#heroCarousel h1 {
  color: white
}

#heroCarousel img {
  opacity: 0.8
}

#heroCarousel .carousel-caption {
  /* background: white */
}

.logo-image {
  width: 70%;
  height: auto;
}

.shelters-dropdown {
  display: inline-block;
}

.header-wrapper {
  position: relative
}

.header-extra-info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 10px;
  text-align: center;
  font-size: 12px;
}